<a href="https://colab.research.google.com/github/harshi0102/python-programs/blob/main/important_file_of_python_exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Write a Python program to find those numbers which are divisible by 7 and multiple of 5, between 1500 and 2700 (both included).

In [4]:
n1=[]
for x in range(1500,2701):
  if x%7==0 and x%5==0:
   n1.append(str(x))
   
   
print(' '.join(n1))

1505 1540 1575 1610 1645 1680 1715 1750 1785 1820 1855 1890 1925 1960 1995 2030 2065 2100 2135 2170 2205 2240 2275 2310 2345 2380 2415 2450 2485 2520 2555 2590 2625 2660 2695

Write a Python program to convert temperatures to and from celsius, fahrenheit [ Formula : c/5 = f-32/9 [ where c = temperature in celsius and f = temperature in fahrenheit ]
Expected Output :
60°C is 140 in Fahrenheit
45°F is 7 in Celsius

In [12]:
temp=input("input the tempreature you like to convert?e.g.,45F,102C etc:)")
degree=int(temp[:-1])
i_convention=temp[-1]

if i_convention.upper()=="C":
  result=int(round(9*degree) /5+32)
  o_convention="Fahrenheit"
elif i_convention.upper()=="F":
  result=int(round(degree-32)*5/9)
  O_convention="Celsius"
else:
  print("input prpoer convention.")
  quit()
 
print("the tempreature in",o_convention,"is",result,"degrees")

input the tempreature you like to convert?e.g.,45F,102C etc:)45F
the tempreature in Celsius is 7 degrees

 Write a Python program to guess a number between 1 to 9

In [18]:
import random
target_num,guess_num=random.randint(1,10), 0

while target_num !=guess_num:
  guess_num=int(input("guess a number between 1 and 10 until you get it right:"))

print("well guessed")

guess a number between 1 and 10 until you get it right:6
well guessed

Write a Python program to construct the following pattern, using a nested for loop.   ![image.png]()

In [24]:
n=5;
for i in range(n):
  for j in range(i):
      print('*',end="")
  print('')

for i in range(n,0,-1):
  for j in range(i):
      print('*',end="")
  print('')

*
**
***
****
*****
****
***
**
*

Write a Python program that accepts a word from the user and reverse it

In [25]:
word=input("input a word to reverse:")
for char in range(len(word) -1,-1,-1):
  print(word[char],end="")
  print("\n")

input a word to reverse:welcome
e

m

o

c

l

e

w

Write a Python program to count the number of even and odd numbers from a series of numbers

In [26]:
numbers=(1,2,3,4,5,6,7,8,9)# declaring the tuple
count_odd=0
count_even=0
for x in numbers:
  if not x%2:
    count_even +=1
  else:
      count_odd +=1
print("number of even numbers:",count_even)
print("number of odd numbers:",count_odd)

number of even numbers: 4
number of odd numbers: 5

Write a Python program that prints each item and its corresponding type from the following list.

Sample List : datalist = [1452, 11.23, 1+2j, True, 'w3resource', (0, -1), [5, 12], {"class":'V', "section":'A'}]

In [27]:
datalist=[1452,11.23,1+2j,True,'w3resource',(0,-1),[5,12],
          {"class":'V',"section":'A'}]
for item in datalist:
  print("type of ",item,"is",type(item))

type of  1452 is <class 'int'>
type of  11.23 is <class 'float'>
type of  (1+2j) is <class 'complex'>
type of  True is <class 'bool'>
type of  w3resource is <class 'str'>
type of  (0, -1) is <class 'tuple'>
type of  [5, 12] is <class 'list'>
type of  {'class': 'V', 'section': 'A'} is <class 'dict'>

Write a Python program that prints all the numbers from 0 to 6 except 3 and 6.

In [32]:
for x in range(6):
  if(x==3 or x==6):
    continue
  print(x,end=' ')
print("\n")

0 1 2 4 5

Write a Python program to get the Fibonacci series between 0 to 50.

In [33]:
x,y=0,1

while y<50:
  print(y)
  x,y=y,x+y

1
1
2
3
5
8
13
21
34

Write a Python program which iterates the integers from 1 to 50. For multiples of three print "Fizz" instead of the number and for the multiples of five print "Buzz". For numbers which are multiples of both three and five print "FizzBuzz".

In [34]:
for fizzbuzz in range(51):
  if fizzbuzz%3 ==0 and fizzbuzz % 5==0:
    print("fizzbuzz")
    continue
  elif fizzbuzz%3==0:
      print("fizz")
      continue
  elif fizzbuzz % 5==0:
        print("buzz")
        continue
  print(fizzbuzz)

fizzbuzz
1
2
fizz
4
buzz
fizz
7
8
fizz
buzz
11
fizz
13
14
fizzbuzz
16
17
fizz
19
buzz
fizz
22
23
fizz
buzz
26
fizz
28
29
fizzbuzz
31
32
fizz
34
buzz
fizz
37
38
fizz
buzz
41
fizz
43
44
fizzbuzz
46
47
fizz
49
buzz

Write a Python program which takes two digits m (row) and n (column) as input and generates a two-dimensional array. The element value in the i-th row and j-th column of the array should be i*
Note :
i = 0,1.., m-1
j = 0,1, n-1

In [36]:
row_num=int(input("input number of rows:"))
col_num=int(input("input number of columns"))
multi_list=[[0 for col in range(col_num)] for row in range(row_num)]

for row in range(row_num):
  for col in range(col_num):
    multi_list[row][col]=row*col

print(multi_list)

input number of rows:4
input number of columns3
[[0, 0, 0], [0, 1, 2], [0, 2, 4], [0, 3, 6]]

Write a Python program that accepts a sequence of lines (blank line to terminate) as input and prints the lines as output (all characters in lower case)

In [38]:
#infinite loop 
lines=[]
while True:
  l=input()
  if l:
       lines.append(l.upper())
  else:
    break;

for l in lines:
  print(1)

python
Python

KeyboardInterrupt: ignored

 Write a Python program which accepts a sequence of comma separated 4 digit binary numbers as its input and print the numbers that are divisible by 5 in a comma separated sequence 
 Sample Data : 0100,0011,1010,1001,1100,1001
Expected Output : 1010

In [40]:
# according to the question it will take only the multiple of 5 
items=[]
num= [x for x in input().split(',')]
for p in num:
  x=int(p,2)
  if not x%5:
    items.append(p)
print('',join(items))

1001

NameError: ignored

In [ ]:
items = []
num = [x for x in input().split(',')]
for p in num:
    x = int(p, 2)
    if not x%5:
        items.append(p)
print(','.join(items))

Write a Python program that accepts a string and calculate the number of digits and letters.

In [45]:
s= input("input a string")
d=l=0
for c in s:
  if c.isdigit():
    d=d+1
  elif c.isalpha():
    l=l+1
  else:
    pass
print("letters",l) 
print("digits",d)

input a stringw3 resource
letters 9
digits 1

Write a Python program to check the validity of password input by users. Go to the editor
Validation :

At least 1 letter between [a-z] and 1 letter between [A-Z].
At least 1 number between [0-9].
At least 1 character from [$#@].
Minimum length 6 characters.
Maximum length 16 characters.

In [47]:
import re
p=input("input your password")
x=True
while x:
  if(len(p)<6 or len(p)>12):
    break
  elif not re.search("[a-z]",p):
    break
  elif not re.search("[0-9]",p):
    break
  elif not re.search("[A-Z]",p):
    break
  elif not re.search("[$#@]",p):
    break
  elif re.search("\s",p):
    break
  else:
    print("valid password")
    x=False
    break

if x:
   print("not a valid password ")

input your passwordSummer@69
valid password