<a href="https://colab.research.google.com/github/harshi0102/python-programs/blob/main/important_file_of_python_exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Write a Python program to find those numbers which are divisible by 7 and multiple of 5, between 1500 and 2700 (both included).

In [ ]:
n1=[]
for x in range(1500,2701):
  if x%7==0 and x%5==0:
   n1.append(str(x))
   
   
print(' '.join(n1))

1505 1540 1575 1610 1645 1680 1715 1750 1785 1820 1855 1890 1925 1960 1995 2030 2065 2100 2135 2170 2205 2240 2275 2310 2345 2380 2415 2450 2485 2520 2555 2590 2625 2660 2695

Write a Python program to convert temperatures to and from celsius, fahrenheit [ Formula : c/5 = f-32/9 [ where c = temperature in celsius and f = temperature in fahrenheit ]
Expected Output :
60°C is 140 in Fahrenheit
45°F is 7 in Celsius

In [ ]:
temp=input("input the tempreature you like to convert?e.g.,45F,102C etc:)")
degree=int(temp[:-1])
i_convention=temp[-1]

if i_convention.upper()=="C":
  result=int(round(9*degree) /5+32)
  o_convention="Fahrenheit"
elif i_convention.upper()=="F":
  result=int(round(degree-32)*5/9)
  O_convention="Celsius"
else:
  print("input prpoer convention.")
  quit()
 
print("the tempreature in",o_convention,"is",result,"degrees")

input the tempreature you like to convert?e.g.,45F,102C etc:)45F
the tempreature in Celsius is 7 degrees

 Write a Python program to guess a number between 1 to 9

In [ ]:
import random
target_num,guess_num=random.randint(1,10), 0

while target_num !=guess_num:
  guess_num=int(input("guess a number between 1 and 10 until you get it right:"))

print("well guessed")

guess a number between 1 and 10 until you get it right:6
well guessed

Write a Python program to construct the following pattern, using a nested for loop.   ![image.png]()

In [ ]:
n=5;
for i in range(n):
  for j in range(i):
      print('*',end="")
  print('')

for i in range(n,0,-1):
  for j in range(i):
      print('*',end="")
  print('')

*
**
***
****
*****
****
***
**
*

Write a Python program that accepts a word from the user and reverse it

In [ ]:
word=input("input a word to reverse:")
for char in range(len(word) -1,-1,-1):
  print(word[char],end="")
  print("\n")

input a word to reverse:welcome
e

m

o

c

l

e

w

Write a Python program to count the number of even and odd numbers from a series of numbers

In [ ]:
numbers=(1,2,3,4,5,6,7,8,9)# declaring the tuple
count_odd=0
count_even=0
for x in numbers:
  if not x%2:
    count_even +=1
  else:
      count_odd +=1
print("number of even numbers:",count_even)
print("number of odd numbers:",count_odd)

number of even numbers: 4
number of odd numbers: 5

Write a Python program that prints each item and its corresponding type from the following list.

Sample List : datalist = [1452, 11.23, 1+2j, True, 'w3resource', (0, -1), [5, 12], {"class":'V', "section":'A'}]

In [ ]:
datalist=[1452,11.23,1+2j,True,'w3resource',(0,-1),[5,12],
          {"class":'V',"section":'A'}]
for item in datalist:
  print("type of ",item,"is",type(item))

type of  1452 is <class 'int'>
type of  11.23 is <class 'float'>
type of  (1+2j) is <class 'complex'>
type of  True is <class 'bool'>
type of  w3resource is <class 'str'>
type of  (0, -1) is <class 'tuple'>
type of  [5, 12] is <class 'list'>
type of  {'class': 'V', 'section': 'A'} is <class 'dict'>

Write a Python program that prints all the numbers from 0 to 6 except 3 and 6.

In [ ]:
for x in range(6):
  if(x==3 or x==6):
    continue
  print(x,end=' ')
print("\n")

0 1 2 4 5

Write a Python program to get the Fibonacci series between 0 to 50.

In [ ]:
x,y=0,1

while y<50:
  print(y)
  x,y=y,x+y

1
1
2
3
5
8
13
21
34

Write a Python program which iterates the integers from 1 to 50. For multiples of three print "Fizz" instead of the number and for the multiples of five print "Buzz". For numbers which are multiples of both three and five print "FizzBuzz".

In [ ]:
for fizzbuzz in range(51):
  if fizzbuzz%3 ==0 and fizzbuzz % 5==0:
    print("fizzbuzz")
    continue
  elif fizzbuzz%3==0:
      print("fizz")
      continue
  elif fizzbuzz % 5==0:
        print("buzz")
        continue
  print(fizzbuzz)

fizzbuzz
1
2
fizz
4
buzz
fizz
7
8
fizz
buzz
11
fizz
13
14
fizzbuzz
16
17
fizz
19
buzz
fizz
22
23
fizz
buzz
26
fizz
28
29
fizzbuzz
31
32
fizz
34
buzz
fizz
37
38
fizz
buzz
41
fizz
43
44
fizzbuzz
46
47
fizz
49
buzz

Write a Python program which takes two digits m (row) and n (column) as input and generates a two-dimensional array. The element value in the i-th row and j-th column of the array should be i*
Note :
i = 0,1.., m-1
j = 0,1, n-1

In [ ]:
row_num=int(input("input number of rows:"))
col_num=int(input("input number of columns"))
multi_list=[[0 for col in range(col_num)] for row in range(row_num)]

for row in range(row_num):
  for col in range(col_num):
    multi_list[row][col]=row*col

print(multi_list)

input number of rows:4
input number of columns3
[[0, 0, 0], [0, 1, 2], [0, 2, 4], [0, 3, 6]]

Write a Python program that accepts a sequence of lines (blank line to terminate) as input and prints the lines as output (all characters in lower case)

In [ ]:
#infinite loop 
lines=[]
while True:
  l=input()
  if l:
       lines.append(l.upper())
  else:
    break;

for l in lines:
  print(1)

python
Python

KeyboardInterrupt: ignored

 Write a Python program which accepts a sequence of comma separated 4 digit binary numbers as its input and print the numbers that are divisible by 5 in a comma separated sequence 
 Sample Data : 0100,0011,1010,1001,1100,1001
Expected Output : 1010

In [ ]:
# according to the question it will take only the multiple of 5 
items=[]
num= [x for x in input().split(',')]
for p in num:
  x=int(p,2)
  if not x%5:
    items.append(p)
print('',join(items))

1001

NameError: ignored

In [ ]:
items = []
num = [x for x in input().split(',')]
for p in num:
    x = int(p, 2)
    if not x%5:
        items.append(p)
print(','.join(items))

Write a Python program that accepts a string and calculate the number of digits and letters.

In [ ]:
s= input("input a string")
d=l=0
for c in s:
  if c.isdigit():
    d=d+1
  elif c.isalpha():
    l=l+1
  else:
    pass
print("letters",l) 
print("digits",d)

input a stringw3 resource
letters 9
digits 1

Write a Python program to check the validity of password input by users. Go to the editor
Validation :

At least 1 letter between [a-z] and 1 letter between [A-Z].
At least 1 number between [0-9].
At least 1 character from [$#@].
Minimum length 6 characters.
Maximum length 16 characters.

In [ ]:
import re
p=input("input your password")
x=True
while x:
  if(len(p)<6 or len(p)>12):
    break
  elif not re.search("[a-z]",p):
    break
  elif not re.search("[0-9]",p):
    break
  elif not re.search("[A-Z]",p):
    break
  elif not re.search("[$#@]",p):
    break
  elif re.search("\s",p):
    break
  else:
    print("valid password")
    x=False
    break

if x:
   print("not a valid password ")

input your passwordSummer@69
valid password

Write a Python program to find numbers between 100 and 400 (both included) where each digit of a number is an even number. The numbers obtained should be printed in a comma-separated sequence.

In [15]:
items=[]
for i in range(100,401):
    s=str(i)
    if int(s[0])%2==0 and int(s[1])%2==0 and int (s[2])%2==0:
       items.append(s)
print(",".join(items))

200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268,280,282,284,286,288,400

Write a Python program to print alphabet pattern 'A'
![image.png]()

In [17]:
result_str="";
for row in range(0,7):
    for column in range(0,7):
        if(((column==1 or column==5) and row!=0)or ((row==0 or row==3) and (column>1 and column<5))):
          result_str=result_str+"*"
        else: 
          result_str=result_str+" "
    result_str=result_str+"\n"
print(result_str)

  ***
 *   *
 *   *
 *****
 *   *
 *   *
 *   *

Write a Python program to print alphabet pattern 'D'.![image.png]()

In [22]:
result_str="";
for row in range(0,7):
  for  column in range(0,7):
     if (column==1 or ((row==0 or row ==6)) and (column>1 and column<5) or (column==5 and row !=0 and row !=6)):
        result_str=result_str+"*"
     else:
        result_str=result_str +" "
  result_str=result_str+"\n" 
print(result_str)

 ****
 *   *
 *   *
 *   *
 *   *
 *   *
 ****

Write a program to display only those numbers from a list that satisfy the following conditions

The number must be divisible by five
If the number is greater than 150, then skip it and move to the next number
If the number is greater than 500, then stop the loop
numbers = [12, 75, 150, 180, 145, 525, 50]

In [24]:
numbers=[12,75,150,180,145,525,50]
#iterata each item of a list 
for item in numbers:
  if item>500:
    break
  elif item>150:
    continue
 #check if number is divisible by 5
  elif item%5==0:
       print(item)

75
150
145

Write a program to count the total number of digits in a number using a while loop.

75869-number

In [25]:
num=75869
count=0
while num!=0:
  #floor divisition
  #to reduce the last digit from number
  num=num//10
  #increment counter by 1
  count=count+1
print("Total digits are:",count)

Total digits are: 5

Write a program to use for loop to print the following reverse number pattern

![image.png]()

In [1]:
n=5
k=5
for i in range(0,n+1):
  for j in range(k-i,0,-1):
   print(j,end='')
  print()

54321
4321
321
21
1

Print list in reverse order using a loop list1 = [10, 20, 30, 40, 50]

In [2]:
list1=[10,20,30,40,50]
#reverse list
new_list=reversed(list1)
#iterate reversed list
for item in new_list:
  print(item)

50
40
30
20
10

Display numbers from -10 to -1 using for loop

In [3]:
for num in range(-10,0,1):
  print(num)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

Use else block to display a message “Done” after successful execution of for loop for i in range(5):
    print(i)
Expected output:

0
1
2
3
4
Done!

In [5]:
for i in range(5):
  print(i)
else:
  print("Done!")

0
1
2
3
4
Done!

Write a program to display all prime numbers within a range
Given:

# range
start = 25
end = 50
Expected output:

Prime numbers between 25 and 50 are:
29
31
37
41
43
47

In [9]:
start=25
end=50
print("prime number between",start,"and",end,"are:")

for num in range(start, end+1):
    if num>1:
      for i in range(2,num):
          if (num%i)==0:
              break
      else:
           print(num)

prime number between 25 and 50 are:
29
31
37
41
43
47

 Display Fibonacci series up to 10 terms

In [10]:
#first two numbers
num1,num2=0,1
print("FIBOnacci sequence:")
#run loop 10 times
for i in range(10):
  #print next number of a series 
  print(num1,end=" ")
  #add last two numbers to get next number
  res=num1+num2
  #update values
  num1=num2
  num2=res

FIBOnacci sequence:
0 1 1 2 3 5 8 13 21 34

Write a program to use the loop to find the factorial of a given number.

5! = 5 × 4 × 3 × 2 × 1 = 120

In [13]:
num=5
factorial=1
if num<0:
  print("factorial does not exist for negative numbers:")
elif num==0:
  print("the factorial of 0 is 1")
else:
  #run loop 5 times
  for i in range(1,num+1):
    #multiply factorial by current number 
    factorial =factorial *i
print("the factorial of ",num,"is",factorial)

the factorial of  5 is 120

 Reverse a given integer number  Given:

76542

Expected output:

24567

In [14]:
num=76542
reverse_number=0
print("given number",num)
while num>0:
  remainder=num%10
  reverse_number=(reverse_number*10)+remainder
  num=num//10
print("reverse number",reverse_number)

given number 76542
reverse number 24567

Use a loop to display elements from a given list present at odd index positions my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [15]:
my_list=[10,20,30,40,50,60,70,80,90,100]
#start from index 1 with step 2(means 1,3,5 and so on )
for i in my_list[1::2]:
    print(i,end=" ")

20 40 60 80 100

Write a program to print the cube of all numbers from 1 to a given number

In [16]:
input_number=6
for i in range(1, input_number+1):
     print("Current number is :",i,"and the cube is ",(i*i*i))

Current number is : 1 and the cube is  1
Current number is : 2 and the cube is  8
Current number is : 3 and the cube is  27
Current number is : 4 and the cube is  64
Current number is : 5 and the cube is  125
Current number is : 6 and the cube is  216

Write a program to calculate the sum of series up to n term. For example, if n =5 the series will become 2 + 22 + 222 + 2222 + 22222 = 24690

In [22]:
n=5
#first number of sequence
start=2
sum_seq=0

#run loop n times
for i in range(0,n):
  print(start,end="+")
  
  sum_seq +=start
  #calculate the next term
  start=start*10+2

print("\nSum of above series is:", sum_seq)

2+22+222+2222+22222+
Sum of above series is: 24690

Write a program to print the following start pattern using the for loop

![image.png]()

In [25]:
rows = 5
for i in range(0, rows):
    for j in range(0, i + 1):
        print("*", end=' ')
    print("\r")

for i in range(rows, 0, -1):
    for j in range(0, i - 1):
        print("*", end=' ')
    print("\r")

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*